
@charset "utf-8";

/* Common */

html,
body {
    color: #666
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0
}

body,
input,
textarea,
select,
button,
table {
    font-family:  Microsoft YaHei, applegothic, sans-serif;
    font-size: 14px;
    color: #666 
}
 
img,
fieldset {
    border: 0;
    vertical-align: top
}

ul,
ol {
    list-style: none
}

em,
address {
    font-style: normal
}

a {
    display: inline-block;
    text-decoration: none;
}
